:root {
  --contrast-1: #fcfcfc;
  --contrast-2: #f9f9f9;
  --contrast-3: #f0f0f0;
  --contrast-4: #e8e8e8;
  --contrast-5: #e1e1e1;
  --contrast-6: #d9d9d9;
  --contrast-7: #cecece;
  --contrast-8: #bbb;
  --contrast-9: #000;
  --contrast-10: #2e2e2e;
  --contrast-11: #636363;
  --contrast-12: #1f1f1f;
  --contrast-a1: #00000003;
  --contrast-a2: #00000006;
  --contrast-a3: #0000000f;
  --contrast-a4: #00000017;
  --contrast-a5: #0000001e;
  --contrast-a6: #00000026;
  --contrast-a7: #00000031;
  --contrast-a8: #0004;
  --contrast-a9: #000;
  --contrast-a10: #000000d1;
  --contrast-a11: #0000009c;
  --contrast-a12: #000000e0;
  --contrast-contrast: #fff;
  --contrast-surface: #f8f8f8cc;
  --contrast-indicator: #000;
  --contrast-track: #000;
}

.dark {
  --contrast-1: #000;
  --contrast-2: #121212;
  --contrast-3: #1f1f1f;
  --contrast-4: #282828;
  --contrast-5: #303030;
  --contrast-6: #3a3a3a;
  --contrast-7: #474747;
  --contrast-8: #606060;
  --contrast-9: #fff;
  --contrast-10: #f6f6f6;
  --contrast-11: #b3b3b3;
  --contrast-12: #eee;
  --contrast-a1: #0000;
  --contrast-a2: #ffffff12;
  --contrast-a3: #ffffff1f;
  --contrast-a4: #ffffff28;
  --contrast-a5: #ffffff30;
  --contrast-a6: #ffffff3a;
  --contrast-a7: #ffffff47;
  --contrast-a8: #ffffff60;
  --contrast-a9: #fff;
  --contrast-a10: #fffffff6;
  --contrast-a11: #ffffffb3;
  --contrast-a12: #fffe;
  --contrast-contrast: #000;
  --contrast-surface: #24242480;
  --contrast-indicator: #fff;
  --contrast-track: #fff;
}

@theme inline {
  --color-contrast-1: var(--contrast-1);
  --color-contrast-2: var(--contrast-2);
  --color-contrast-3: var(--contrast-3);
  --color-contrast-4: var(--contrast-4);
  --color-contrast-5: var(--contrast-5);
  --color-contrast-6: var(--contrast-6);
  --color-contrast-7: var(--contrast-7);
  --color-contrast-8: var(--contrast-8);
  --color-contrast-9: var(--contrast-9);
  --color-contrast-10: var(--contrast-10);
  --color-contrast-11: var(--contrast-11);
  --color-contrast-12: var(--contrast-12);
  --color-contrast-a1: var(--contrast-a1);
  --color-contrast-a2: var(--contrast-a2);
  --color-contrast-a3: var(--contrast-a3);
  --color-contrast-a4: var(--contrast-a4);
  --color-contrast-a5: var(--contrast-a5);
  --color-contrast-a6: var(--contrast-a6);
  --color-contrast-a7: var(--contrast-a7);
  --color-contrast-a8: var(--contrast-a8);
  --color-contrast-a9: var(--contrast-a9);
  --color-contrast-a10: var(--contrast-a10);
  --color-contrast-a11: var(--contrast-a11);
  --color-contrast-a12: var(--contrast-a12);
  --color-contrast-contrast: var(--contrast-contrast);
  --color-contrast-surface: var(--contrast-surface);
  --color-contrast-indicator: var(--contrast-indicator);
  --color-contrast-track: var(--contrast-track);
}
