:root {
  --grass-a1: #00c00004;
  --grass-a2: #0099000a;
  --grass-a3: #00970016;
  --grass-a4: #009f0725;
  --grass-a5: #00930536;
  --grass-a6: #008f0a4d;
  --grass-a7: #018b0f6b;
  --grass-a8: #008d199a;
  --grass-a9: #008619b9;
  --grass-a10: #007b17c1;
  --grass-a11: #006514d5;
  --grass-a12: #002006df;
  --grass-1: #fbfefb;
  --grass-2: #f5fbf5;
  --grass-3: #e9f6e9;
  --grass-4: #daf1db;
  --grass-5: #c9e8ca;
  --grass-6: #b2ddb5;
  --grass-7: #94ce9a;
  --grass-8: #65ba74;
  --grass-9: #46a758;
  --grass-10: #3e9b4f;
  --grass-11: #2a7e3b;
  --grass-12: #203c25;
  --grass-contrast: #fff;
  --grass-surface: #f3faf3cc;
  --grass-indicator: var(--grass-9);
  --grass-track: var(--grass-9);
}

.dark {
  --grass-a1: #00de1205;
  --grass-a2: #5ef7780a;
  --grass-a3: #70fe8c1b;
  --grass-a4: #57ff802c;
  --grass-a5: #68ff8b3b;
  --grass-a6: #71ff8f4b;
  --grass-a7: #77fd925d;
  --grass-a8: #77fd9070;
  --grass-a9: #65ff82a1;
  --grass-a10: #72ff8dae;
  --grass-a11: #89ff9fcd;
  --grass-a12: #ceffceef;
  --grass-1: #0e1511;
  --grass-2: #141a15;
  --grass-3: #1b2a1e;
  --grass-4: #1d3a24;
  --grass-5: #25482d;
  --grass-6: #2d5736;
  --grass-7: #366740;
  --grass-8: #3e7949;
  --grass-9: #46a758;
  --grass-10: #53b365;
  --grass-11: #71d083;
  --grass-12: #c2f0c2;
  --grass-contrast: #fff;
  --grass-surface: #19231b80;
  --grass-indicator: var(--grass-9);
  --grass-track: var(--grass-9);
}

@theme inline {
  --color-grass-a1: var(--grass-a1);
  --color-grass-a2: var(--grass-a2);
  --color-grass-a3: var(--grass-a3);
  --color-grass-a4: var(--grass-a4);
  --color-grass-a5: var(--grass-a5);
  --color-grass-a6: var(--grass-a6);
  --color-grass-a7: var(--grass-a7);
  --color-grass-a8: var(--grass-a8);
  --color-grass-a9: var(--grass-a9);
  --color-grass-a10: var(--grass-a10);
  --color-grass-a11: var(--grass-a11);
  --color-grass-a12: var(--grass-a12);
  --color-grass-1: var(--grass-1);
  --color-grass-2: var(--grass-2);
  --color-grass-3: var(--grass-3);
  --color-grass-4: var(--grass-4);
  --color-grass-5: var(--grass-5);
  --color-grass-6: var(--grass-6);
  --color-grass-7: var(--grass-7);
  --color-grass-8: var(--grass-8);
  --color-grass-9: var(--grass-9);
  --color-grass-10: var(--grass-10);
  --color-grass-11: var(--grass-11);
  --color-grass-12: var(--grass-12);
  --color-grass-contrast: var(--grass-contrast);
  --color-grass-surface: var(--grass-surface);
  --color-grass-indicator: var(--grass-indicator);
  --color-grass-track: var(--grass-track);
}
