:root {
  --green-a1: #00c04004;
  --green-a2: #00a32f0b;
  --green-a3: #00a43319;
  --green-a4: #00a83829;
  --green-a5: #019c393b;
  --green-a6: #00963c52;
  --green-a7: #00914071;
  --green-a8: #00924ba4;
  --green-a9: #008f4acf;
  --green-a10: #008647d4;
  --green-a11: #00713fde;
  --green-a12: #002616e6;
  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;
  --green-surface: #f1faf4cc;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
  --green-contrast: #fff;
}

.dark {
  --green-a1: #00de4505;
  --green-a2: #29f99d0b;
  --green-a3: #22ff991e;
  --green-a4: #11ff992d;
  --green-a5: #2bffa23c;
  --green-a6: #44ffaa4b;
  --green-a7: #50fdac5e;
  --green-a8: #54ffad73;
  --green-a9: #44ffa49e;
  --green-a10: #43fea4ab;
  --green-a11: #46fea5d4;
  --green-a12: #bbffd7f0;
  --green-1: #0e1512;
  --green-2: #121b17;
  --green-3: #132d21;
  --green-4: #113b29;
  --green-5: #174933;
  --green-6: #20573e;
  --green-7: #28684a;
  --green-8: #2f7c57;
  --green-9: #30a46c;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --green-contrast: #fff;
  --green-surface: #15251d80;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
}

@theme inline {
  --color-green-a1: var(--green-a1);
  --color-green-a2: var(--green-a2);
  --color-green-a3: var(--green-a3);
  --color-green-a4: var(--green-a4);
  --color-green-a5: var(--green-a5);
  --color-green-a6: var(--green-a6);
  --color-green-a7: var(--green-a7);
  --color-green-a8: var(--green-a8);
  --color-green-a9: var(--green-a9);
  --color-green-a10: var(--green-a10);
  --color-green-a11: var(--green-a11);
  --color-green-a12: var(--green-a12);
  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);
  --color-green-surface: var(--green-surface);
  --color-green-indicator: var(--green-indicator);
  --color-green-track: var(--green-track);
  --color-green-contrast: var(--green-contrast);
}
