:root {
  --jade-a1: #00c08004;
  --jade-a2: #00a3460b;
  --jade-a3: #00ae4819;
  --jade-a4: #00a85129;
  --jade-a5: #00a2553c;
  --jade-a6: #009a5753;
  --jade-a7: #00945f74;
  --jade-a8: #00976ea9;
  --jade-a9: #00916bd6;
  --jade-a10: #008764d9;
  --jade-a11: #007152df;
  --jade-a12: #002217e2;
  --jade-1: #fbfefd;
  --jade-2: #f4fbf7;
  --jade-3: #e6f7ed;
  --jade-4: #d6f1e3;
  --jade-5: #c3e9d7;
  --jade-6: #acdec8;
  --jade-7: #8bceb6;
  --jade-8: #56ba9f;
  --jade-9: #29a383;
  --jade-10: #26997b;
  --jade-11: #208368;
  --jade-12: #1d3b31;
  --jade-contrast: #fff;
  --jade-surface: #f1faf5cc;
  --jade-indicator: var(--jade-9);
  --jade-track: var(--jade-9);
}

.dark {
  --jade-a1: #00de4505;
  --jade-a2: #27fba60c;
  --jade-a3: #02f99920;
  --jade-a4: #00ffaa2d;
  --jade-a5: #11ffb63b;
  --jade-a6: #34ffc24b;
  --jade-a7: #45fdc75e;
  --jade-a8: #48ffcf75;
  --jade-a9: #38feca9d;
  --jade-a10: #31fec7ab;
  --jade-a11: #21fec0d6;
  --jade-a12: #b8ffe1ef;
  --jade-1: #0d1512;
  --jade-2: #121c18;
  --jade-3: #0f2e22;
  --jade-4: #0b3b2c;
  --jade-5: #114837;
  --jade-6: #1b5745;
  --jade-7: #246854;
  --jade-8: #2a7e68;
  --jade-9: #29a383;
  --jade-10: #27b08b;
  --jade-11: #1fd8a4;
  --jade-12: #adf0d4;
  --jade-contrast: #fff;
  --jade-surface: #13271f80;
  --jade-indicator: var(--jade-9);
  --jade-track: var(--jade-9);
}

@theme inline {
  --color-jade-a1: var(--jade-a1);
  --color-jade-a2: var(--jade-a2);
  --color-jade-a3: var(--jade-a3);
  --color-jade-a4: var(--jade-a4);
  --color-jade-a5: var(--jade-a5);
  --color-jade-a6: var(--jade-a6);
  --color-jade-a7: var(--jade-a7);
  --color-jade-a8: var(--jade-a8);
  --color-jade-a9: var(--jade-a9);
  --color-jade-a10: var(--jade-a10);
  --color-jade-a11: var(--jade-a11);
  --color-jade-a12: var(--jade-a12);
  --color-jade-1: var(--jade-1);
  --color-jade-2: var(--jade-2);
  --color-jade-3: var(--jade-3);
  --color-jade-4: var(--jade-4);
  --color-jade-5: var(--jade-5);
  --color-jade-6: var(--jade-6);
  --color-jade-7: var(--jade-7);
  --color-jade-8: var(--jade-8);
  --color-jade-9: var(--jade-9);
  --color-jade-10: var(--jade-10);
  --color-jade-11: var(--jade-11);
  --color-jade-12: var(--jade-12);
  --color-jade-contrast: var(--jade-contrast);
  --color-jade-surface: var(--jade-surface);
  --color-jade-indicator: var(--jade-indicator);
  --color-jade-track: var(--jade-track);
}
