:root {
  --orange-a1: #c0400004;
  --orange-a2: #ff8e0012;
  --orange-a3: #ff9c0029;
  --orange-a4: #ff91014a;
  --orange-a5: #ff8b0065;
  --orange-a6: #ff81007d;
  --orange-a7: #ed6c008c;
  --orange-a8: #e35f00aa;
  --orange-a9: #f65e00ea;
  --orange-a10: #ef5f00;
  --orange-a11: #cc4e00;
  --orange-a12: #431200e2;
  --orange-1: #fefcfb;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;
  --orange-contrast: #fff;
  --orange-surface: #fff5e9cc;
  --orange-indicator: var(--orange-9);
  --orange-track: var(--orange-9);
}

.dark {
  --orange-a1: #ec360007;
  --orange-a2: #fe6d000e;
  --orange-a3: #fb6a0025;
  --orange-a4: #ff590039;
  --orange-a5: #ff61004a;
  --orange-a6: #fd75045c;
  --orange-a7: #ff832c75;
  --orange-a8: #fe84389d;
  --orange-a9: #fe6d15f7;
  --orange-a10: #ff801f;
  --orange-a11: #ffa057;
  --orange-a12: #ffe0c2;
  --orange-1: #17120e;
  --orange-2: #1e160f;
  --orange-3: #331e0b;
  --orange-4: #462100;
  --orange-5: #562800;
  --orange-6: #66350c;
  --orange-7: #7e451d;
  --orange-8: #a35829;
  --orange-9: #f76b15;
  --orange-10: #ff801f;
  --orange-11: #ffa057;
  --orange-12: #ffe0c2;
  --orange-contrast: #fff;
  --orange-surface: #271d1380;
  --orange-indicator: var(--orange-9);
  --orange-track: var(--orange-9);
}

@theme inline {
  --color-orange-a1: var(--orange-a1);
  --color-orange-a2: var(--orange-a2);
  --color-orange-a3: var(--orange-a3);
  --color-orange-a4: var(--orange-a4);
  --color-orange-a5: var(--orange-a5);
  --color-orange-a6: var(--orange-a6);
  --color-orange-a7: var(--orange-a7);
  --color-orange-a8: var(--orange-a8);
  --color-orange-a9: var(--orange-a9);
  --color-orange-a10: var(--orange-a10);
  --color-orange-a11: var(--orange-a11);
  --color-orange-a12: var(--orange-a12);
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);
  --color-orange-contrast: var(--orange-contrast);
  --color-orange-surface: var(--orange-surface);
  --color-orange-indicator: var(--orange-indicator);
  --color-orange-track: var(--orange-track);
}
