:root {
  --pink-a1: #ff00aa03;
  --pink-a2: #e0008008;
  --pink-a3: #f4008c16;
  --pink-a4: #e2008b23;
  --pink-a5: #d1008331;
  --pink-a6: #c0007840;
  --pink-a7: #b6006f53;
  --pink-a8: #af006f6c;
  --pink-a9: #c8007fbf;
  --pink-a10: #c2007ac7;
  --pink-a11: #b60074d6;
  --pink-a12: #59003bed;
  --pink-1: #fffcfe;
  --pink-2: #fef7fb;
  --pink-3: #fee9f5;
  --pink-4: #fbdcef;
  --pink-5: #f6cee7;
  --pink-6: #efbfdd;
  --pink-7: #e7acd0;
  --pink-8: #dd93c2;
  --pink-9: #d6409f;
  --pink-10: #cf3897;
  --pink-11: #c2298a;
  --pink-12: #651249;
  --pink-contrast: #fff;
  --pink-surface: #fef5facc;
  --pink-indicator: var(--pink-9);
  --pink-track: var(--pink-9);
}

.dark {
  --pink-a1: #f412bc09;
  --pink-a2: #f420bb12;
  --pink-a3: #fe37cc29;
  --pink-a4: #fc1ec43f;
  --pink-a5: #fd35c24e;
  --pink-a6: #fd51c75f;
  --pink-a7: #fd62c87b;
  --pink-a8: #ff68c8a2;
  --pink-a9: #fe49bcd4;
  --pink-a10: #ff5cc0dc;
  --pink-a11: #ff8dcc;
  --pink-a12: #ffd3ecfd;
  --pink-1: #191117;
  --pink-2: #21121d;
  --pink-3: #37172f;
  --pink-4: #4b143d;
  --pink-5: #591c47;
  --pink-6: #692955;
  --pink-7: #833869;
  --pink-8: #a84885;
  --pink-9: #d6409f;
  --pink-10: #de51a8;
  --pink-11: #ff8dcc;
  --pink-12: #fdd1ea;
  --pink-contrast: #fff;
  --pink-surface: #31132980;
  --pink-indicator: var(--pink-9);
  --pink-track: var(--pink-9);
}

@theme inline {
  --color-pink-a1: var(--pink-a1);
  --color-pink-a2: var(--pink-a2);
  --color-pink-a3: var(--pink-a3);
  --color-pink-a4: var(--pink-a4);
  --color-pink-a5: var(--pink-a5);
  --color-pink-a6: var(--pink-a6);
  --color-pink-a7: var(--pink-a7);
  --color-pink-a8: var(--pink-a8);
  --color-pink-a9: var(--pink-a9);
  --color-pink-a10: var(--pink-a10);
  --color-pink-a11: var(--pink-a11);
  --color-pink-a12: var(--pink-a12);
  --color-pink-1: var(--pink-1);
  --color-pink-2: var(--pink-2);
  --color-pink-3: var(--pink-3);
  --color-pink-4: var(--pink-4);
  --color-pink-5: var(--pink-5);
  --color-pink-6: var(--pink-6);
  --color-pink-7: var(--pink-7);
  --color-pink-8: var(--pink-8);
  --color-pink-9: var(--pink-9);
  --color-pink-10: var(--pink-10);
  --color-pink-11: var(--pink-11);
  --color-pink-12: var(--pink-12);
  --color-pink-contrast: var(--pink-contrast);
  --color-pink-surface: var(--pink-surface);
  --color-pink-indicator: var(--pink-indicator);
  --color-pink-track: var(--pink-track);
}
