:root {
  --plum-a1: #aa00ff03;
  --plum-a2: #c000c008;
  --plum-a3: #cc00cc14;
  --plum-a4: #c200c921;
  --plum-a5: #b700bd2e;
  --plum-a6: #a400b03d;
  --plum-a7: #9900a852;
  --plum-a8: #9000a56e;
  --plum-a9: #89009eb5;
  --plum-a10: #7f0092bb;
  --plum-a11: #730086c1;
  --plum-a12: #40004be6;
  --plum-1: #fefcff;
  --plum-2: #fdf7fd;
  --plum-3: #fbebfb;
  --plum-4: #f7def8;
  --plum-5: #f2d1f3;
  --plum-6: #e9c2ec;
  --plum-7: #deade3;
  --plum-8: #cf91d8;
  --plum-9: #ab4aba;
  --plum-10: #a144af;
  --plum-11: #953ea3;
  --plum-12: #53195d;
  --plum-contrast: #fff;
  --plum-surface: #fdf5fdcc;
  --plum-indicator: var(--plum-9);
  --plum-track: var(--plum-9);
}

.dark {
  --plum-a1: #f112f108;
  --plum-a2: #f22ff211;
  --plum-a3: #fd4cfd27;
  --plum-a4: #f646ff3a;
  --plum-a5: #f455ff48;
  --plum-a6: #f66dff56;
  --plum-a7: #f07cfd70;
  --plum-a8: #ee84ff95;
  --plum-a9: #e961feb6;
  --plum-a10: #ed70ffc0;
  --plum-a11: #f19cfef3;
  --plum-a12: #feddfef4;
  --plum-1: #181118;
  --plum-2: #201320;
  --plum-3: #351a35;
  --plum-4: #451d47;
  --plum-5: #512454;
  --plum-6: #5e3061;
  --plum-7: #734079;
  --plum-8: #92549c;
  --plum-9: #ab4aba;
  --plum-10: #b658c4;
  --plum-11: #e796f3;
  --plum-12: #f4d4f4;
  --plum-contrast: #fff;
  --plum-surface: #2f152f80;
  --plum-indicator: var(--plum-9);
  --plum-track: var(--plum-9);
}

@theme inline {
  --color-plum-a1: var(--plum-a1);
  --color-plum-a2: var(--plum-a2);
  --color-plum-a3: var(--plum-a3);
  --color-plum-a4: var(--plum-a4);
  --color-plum-a5: var(--plum-a5);
  --color-plum-a6: var(--plum-a6);
  --color-plum-a7: var(--plum-a7);
  --color-plum-a8: var(--plum-a8);
  --color-plum-a9: var(--plum-a9);
  --color-plum-a10: var(--plum-a10);
  --color-plum-a11: var(--plum-a11);
  --color-plum-a12: var(--plum-a12);
  --color-plum-1: var(--plum-1);
  --color-plum-2: var(--plum-2);
  --color-plum-3: var(--plum-3);
  --color-plum-4: var(--plum-4);
  --color-plum-5: var(--plum-5);
  --color-plum-6: var(--plum-6);
  --color-plum-7: var(--plum-7);
  --color-plum-8: var(--plum-8);
  --color-plum-9: var(--plum-9);
  --color-plum-10: var(--plum-10);
  --color-plum-11: var(--plum-11);
  --color-plum-12: var(--plum-12);
  --color-plum-contrast: var(--plum-contrast);
  --color-plum-surface: var(--plum-surface);
  --color-plum-indicator: var(--plum-indicator);
  --color-plum-track: var(--plum-track);
}
