.pure-ui {
  /* Base Colors */
  --white: oklch(100% 0 0); /* #fff */
  --black: oklch(0% 0 0); /* #000 */
  --snow: oklch(99.11% 0 0); /* #fcfcfc */
  --eclipse: oklch(22.21% 0 0); /* #1b1b1b */

  /* Background & Surface */
  --background: var(--white);
  --foreground: var(--eclipse);
  --panel: var(--white);
  --panel-foreground: var(--foreground);
  --surface-1: var(--white); /* #ffffff */
  --surface-2: oklch(98.33% 0.002 165.08); /* #f8faf9 */
  --surface-3: oklch(92.2% 0 0); /* #e5e5e5 */

  /* Primary Colors */
  /* -- Accent Colors -> Your main brand color (used for primary actions) */
  --accent: oklch(14.48% 0 0); /* #0a0a0a */
  --accent-foreground: var(--snow);
  /* -- Accent Colors -> A lighter version for secondary actions */
  --accent-soft: oklch(92.19% 0 0); /* #e5e5e5 */
  --accent-soft-foreground: oklch(20.46% 0 0); /* #171717 */

  /* Status Colors */
  --success: oklch(55.03% 0.1244 153.56); /* #24864e */
  --success-foreground: var(--snow);
  --warning: oklch(71.86% 0.152 64.85); /* #e48d21 */
  --warning-foreground: var(--eclipse);
  --danger: oklch(62.59% 0.191 29.19); /* #e44c3d */
  --danger-foreground: var(--snow);

  /* Component Colors */
  --segment: var(--white);
  --segment-foreground: var(--foreground);

  /* Other Colors */
  --default: var(--white);
  --default-foreground: oklch(43.86% 0 0); /* #525252 */
  --muted: oklch(97.61% 0 0); /* #f7f7f7 */
  --muted-foreground: oklch(59.65% 0 0); /* #7f7f7f */
  --border: oklch(79.21% 0 0); /* #bbb */
  --focus: oklch(79.27% 0.006 31.06); /* #bfbab9 */
  --link: var(--eclipse);
  --scrollbar: oklch(86.99% 0 0); /* #d4d4d4 */

  /* Selection Colors */
  --selection-background-color: #bbb;
  --selection-color: #1a1a1a;

  /* Border */
  --border-width: 1px;
  --disabled-opacity: 0.5;

  /* Panel specific radius */
  --radius-panel: 0.5rem;
  --radius-panel-inner: calc(var(--radius-panel) * 0.5);

  /* Typography */
  --font-size-base: 1rem;
  --font-size-scale-desktop: 0.875;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Cursor */
  --cursor-interactive: pointer;
  --cursor-disabled: not-allowed;

  --radius: 0.75rem;

  /* Shadow */
  --shadow-with-border: 0 0px 5px 0px rgba(0, 0, 0, 0.02),
    0 2px 10px 0px rgba(0, 0, 0, 0.06), 0 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.dark .pure-ui {
  /* Background & Surface */
  --background: oklch(16.84% 0 0); /* #0f0f0f */
  --foreground: var(--snow);
  --panel: var(--eclipse);
  --panel-foreground: var(--foreground);
  --surface-1: var(--black);
  --surface-2: oklch(16.38% 0 0); /* #0e0e0e */
  --surface-3: oklch(26.86% 0 0); /* #262626 */

  /* Primary Colors */
  --accent: oklch(98.51% 0 0); /* #fafafa */
  --accent-foreground: var(--eclipse);
  --accent-soft: oklch(26.86% 0 0); /* #262626 */
  --accent-soft-foreground: oklch(92.2% 0 0); /* #e5e5e5 */

  /* Status Colors */
  --success: oklch(55.03% 0.1244 153.56); /* #24864e */
  --success-foreground: var(--snow);
  --warning: oklch(85% 0.1414 77.88); /* #ffc156 */
  --warning-foreground: var(--eclipse);
  --danger: oklch(57.98% 0.1635 30.83); /* #c84b39 */
  --danger-foreground: var(--snow);

  /* Component Colors */
  --segment: oklch(1 0 0 / 16%);
  --segment-foreground: var(--foreground);

  /* Other Colors */
  --default: oklch(20.46% 0 0); /* #171717 */
  --default-foreground: oklch(92.2% 0 0); /* #e5e5e5 */
  --muted: oklch(14.48% 0 0); /* #0a0a0a */
  --muted-foreground: oklch(59.65% 0 0); /* #7f7f7f */
  --border: oklch(28.5% 0 0); /* #2a2a2a */
  --focus: oklch(63.94% 0.005 314.79); /* #8d8b8e */
  --link: var(--snow);
  --scrollbar: oklch(26.86% 0 0); /* #262626 */

  /* Selection Colors */
  --selection-background-color: var(--default);
  --selection-color: var(--default-foreground);

  /* Shadow */
  --shadow-with-border: 0 0 0 1px oklch(1 0 0 / 15%),
    0 5px 10px -3px rgba(0, 0, 0, 0.3), 0 3px 4px -2px rgba(0, 0, 0, 0.1);
}
