:root {
  --contrast-surface-1: #fff;
  --contrast-surface-2: #f9f9f9;
  --contrast-surface-3: #f0f0f0;
  --contrast-surface-4: #e8e8e8;
  --contrast-surface-5: #e1e1e1;
  --contrast-surface-6: #d9d9d9;
  --contrast-surface-7: #cecece;
  --contrast-surface-8: #bbb;
  --contrast-surface-9: #8c8c8c;
  --contrast-surface-10: #818181;
  --contrast-surface-11: #636363;
  --contrast-surface-12: #1f1f1f;
  --contrast-surface-a1: #00000003;
  --contrast-surface-a2: #00000006;
  --contrast-surface-a3: #0000000f;
  --contrast-surface-a4: #00000017;
  --contrast-surface-a5: #0000001e;
  --contrast-surface-a6: #00000026;
  --contrast-surface-a7: #00000031;
  --contrast-surface-a8: #0004;
  --contrast-surface-a9: #00000073;
  --contrast-surface-a10: #0000007e;
  --contrast-surface-a11: #0000009c;
  --contrast-surface-a12: #000000e0;
  --contrast-surface-contrast: #fff;
  --contrast-surface-surface: #fffc;
  --contrast-surface-indicator: #8c8c8c;
  --contrast-surface-track: #8c8c8c;
}

.dark {
  --contrast-surface-1: #000;
  --contrast-surface-2: #121212;
  --contrast-surface-3: #1f1f1f;
  --contrast-surface-4: #282828;
  --contrast-surface-5: #303030;
  --contrast-surface-6: #3a3a3a;
  --contrast-surface-7: #474747;
  --contrast-surface-8: #606060;
  --contrast-surface-9: #6d6d6d;
  --contrast-surface-10: #7a7a7a;
  --contrast-surface-11: #b3b3b3;
  --contrast-surface-12: #eee;
  --contrast-surface-a1: #0000;
  --contrast-surface-a2: #ffffff12;
  --contrast-surface-a3: #ffffff1f;
  --contrast-surface-a4: #ffffff28;
  --contrast-surface-a5: #ffffff30;
  --contrast-surface-a6: #ffffff3a;
  --contrast-surface-a7: #ffffff47;
  --contrast-surface-a8: #ffffff60;
  --contrast-surface-a9: #ffffff6d;
  --contrast-surface-a10: #ffffff7a;
  --contrast-surface-a11: #ffffffb3;
  --contrast-surface-a12: #fffe;
  --contrast-surface-contrast: #fff;
  --contrast-surface-surface: #0000000d;
  --contrast-surface-indicator: #6d6d6d;
  --contrast-surface-track: #6d6d6d;
}

@theme inline {
  --color-contrast-surface-1: var(--contrast-surface-1);
  --color-contrast-surface-2: var(--contrast-surface-2);
  --color-contrast-surface-3: var(--contrast-surface-3);
  --color-contrast-surface-4: var(--contrast-surface-4);
  --color-contrast-surface-5: var(--contrast-surface-5);
  --color-contrast-surface-6: var(--contrast-surface-6);
  --color-contrast-surface-7: var(--contrast-surface-7);
  --color-contrast-surface-8: var(--contrast-surface-8);
  --color-contrast-surface-9: var(--contrast-surface-9);
  --color-contrast-surface-10: var(--contrast-surface-10);
  --color-contrast-surface-11: var(--contrast-surface-11);
  --color-contrast-surface-12: var(--contrast-surface-12);
  --color-contrast-surface-a1: var(--contrast-surface-a1);
  --color-contrast-surface-a2: var(--contrast-surface-a2);
  --color-contrast-surface-a3: var(--contrast-surface-a3);
  --color-contrast-surface-a4: var(--contrast-surface-a4);
  --color-contrast-surface-a5: var(--contrast-surface-a5);
  --color-contrast-surface-a6: var(--contrast-surface-a6);
  --color-contrast-surface-a7: var(--contrast-surface-a7);
  --color-contrast-surface-a8: var(--contrast-surface-a8);
  --color-contrast-surface-a9: var(--contrast-surface-a9);
  --color-contrast-surface-a10: var(--contrast-surface-a10);
  --color-contrast-surface-a11: var(--contrast-surface-a11);
  --color-contrast-surface-a12: var(--contrast-surface-a12);
  --color-contrast-surface-contrast: var(--contrast-surface-contrast);
  --color-contrast-surface-surface: var(--contrast-surface-surface);
  --color-contrast-surface-indicator: var(--contrast-surface-indicator);
  --color-contrast-surface-track: var(--contrast-surface-track);
}
