:root {
  --sage-a1: #00804004;
  --sage-a2: #00402008;
  --sage-a3: #002d1e11;
  --sage-a4: #001f1519;
  --sage-a5: #00180820;
  --sage-a6: #00140d28;
  --sage-a7: #00140a34;
  --sage-a8: #000f0847;
  --sage-a9: #00110b79;
  --sage-a10: #00100a83;
  --sage-a11: #000a07a0;
  --sage-a12: #000805e5;
  --sage-1: #fbfdfc;
  --sage-2: #f7f9f8;
  --sage-3: #eef1f0;
  --sage-4: #e6e9e8;
  --sage-5: #dfe2e0;
  --sage-6: #d7dad9;
  --sage-7: #cbcfcd;
  --sage-8: #b8bcba;
  --sage-9: #868e8b;
  --sage-10: #7c8481;
  --sage-11: #5f6563;
  --sage-12: #1a211e;
  --sage-contrast: #fff;
  --sage-surface: #fffc;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
}

.dark {
  --sage-a1: #0000;
  --sage-a2: #f0f2f108;
  --sage-a3: #f3f5f412;
  --sage-a4: #f2fefd1a;
  --sage-a5: #f1fbfa22;
  --sage-a6: #edfbf42d;
  --sage-a7: #edfcf73c;
  --sage-a8: #ebfdf657;
  --sage-a9: #dffdf266;
  --sage-a10: #e5fdf674;
  --sage-a11: #f4fefbb0;
  --sage-a12: #fdfffeed;
  --sage-1: #101211;
  --sage-2: #171918;
  --sage-3: #202221;
  --sage-4: #272a29;
  --sage-5: #2e3130;
  --sage-6: #373b39;
  --sage-7: #444947;
  --sage-8: #5b625f;
  --sage-9: #63706b;
  --sage-10: #717d79;
  --sage-11: #adb5b2;
  --sage-12: #eceeed;
  --sage-contrast: #fff;
  --sage-surface: #1e201f80;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
}

@theme inline {
  --color-sage-a1: var(--sage-a1);
  --color-sage-a2: var(--sage-a2);
  --color-sage-a3: var(--sage-a3);
  --color-sage-a4: var(--sage-a4);
  --color-sage-a5: var(--sage-a5);
  --color-sage-a6: var(--sage-a6);
  --color-sage-a7: var(--sage-a7);
  --color-sage-a8: var(--sage-a8);
  --color-sage-a9: var(--sage-a9);
  --color-sage-a10: var(--sage-a10);
  --color-sage-a11: var(--sage-a11);
  --color-sage-a12: var(--sage-a12);
  --color-sage-1: var(--sage-1);
  --color-sage-2: var(--sage-2);
  --color-sage-3: var(--sage-3);
  --color-sage-4: var(--sage-4);
  --color-sage-5: var(--sage-5);
  --color-sage-6: var(--sage-6);
  --color-sage-7: var(--sage-7);
  --color-sage-8: var(--sage-8);
  --color-sage-9: var(--sage-9);
  --color-sage-10: var(--sage-10);
  --color-sage-11: var(--sage-11);
  --color-sage-12: var(--sage-12);
  --color-sage-contrast: var(--sage-contrast);
  --color-sage-surface: var(--sage-surface);
  --color-sage-indicator: var(--sage-indicator);
  --color-sage-track: var(--sage-track);
}
