:root {
  --white-a1: #ffffff0d;
  --white-a2: #ffffff1a;
  --white-a3: #ffffff26;
  --white-a4: #fff3;
  --white-a5: #ffffff4d;
  --white-a6: #fff6;
  --white-a7: #ffffff80;
  --white-a8: #fff9;
  --white-a9: #ffffffb3;
  --white-a10: #fffc;
  --white-a11: #ffffffe6;
  --white-a12: #fffffff2;
}

.dark {
  --white-a1: #ffffff0d;
  --white-a2: #ffffff1a;
  --white-a3: #ffffff26;
  --white-a4: #fff3;
  --white-a5: #ffffff4d;
  --white-a6: #fff6;
  --white-a7: #ffffff80;
  --white-a8: #fff9;
  --white-a9: #ffffffb3;
  --white-a10: #fffc;
  --white-a11: #ffffffe6;
  --white-a12: #fffffff2;
}

@theme inline {
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a8: var(--white-a8);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);
}
